/*#############################*/
/* Bootstrap Override variables*/
/*#############################*/
$grid-gutter-width: 15px;
$border-radius-base: 2px;


/*#####################*/
/*Application Specific*/
/*####################*/

/*Common Colors*/
$white:#fff;
$black:#000;

/*Application Color Theme*/
$primary-color: #3F79BD;
// $secondary-color:rgb(255, 100, 18);

/*Forms*/
$form-label-font:1.15em;
$form-label-weight:500;
