<form>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>Loan amount (in inr)</label>
        <input type="text" class="form-control" placeholder="Loan amount (in inr)" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label>Tenor in Days</label>
        <select class="form-control">
          <option value="0">Select days</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>Upload ID proof (PAN, or Passport, or Voter ID)</label>
        <input type="file" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>Upload address proof (Aadhaar Card, or Passport)</label>
        <input type="file" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>Upload photo</label>
        <input type="file" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>Bank statement (last six months)</label>
        <input type="file" />
      </div>
    </div>
  </div>
  <div class="form-group padding top-1x">
    <a type="submit" class="btn btn-primary" href="javascript:void(0)" data-ng-click="ro.userDetailsSection = 'userDownloadForm'">Continue</a>
  </div>
</form>
