<div class="row table-row">
  <div class="col-sm-6 vertical-top hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li class="bold"><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-ro">
            <form novalidate="true" data-ng-submit="ro.submitUserLoanDetailsForm(userloandetails.$valid)" name="userloandetails" data-ng-init="buttonUserLoanDetailsFormClicked = false;">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Loan Amount (in Rs.)</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                      <input type="text" class="form-control left" placeholder="Loan Amount (in Rs.)" required name="loanamt" data-ng-model="ro.userLoanDetails.loanAmt" data-ng-class="{'validation-error': userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Loan Amount">
                      <span class="input-group-addon exclamation hidden-xs" data-ng-show="userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                      <div class="error visible-xs" data-ng-show="userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)">
                        <span>Please enter Loan Amount.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <label>Tenor in Days</label>
                    <select class="form-control" data-ng-model="ro.userLoanDetails.tenor" name="tenor" data-ng-init="ro.userLoanDetails.tenor = '0'" data-ng-class="{'validation-error': ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please select tenor">
                      <option value="0">Select days</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-sm-1 hidden-xs padding top-2x">
                    <span class="exclamation error" data-ng-show="ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                  </div>
                  <div class="error visible-xs" data-ng-show="ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked">
                    <span>Please select tenor.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Upload ID Proof (PAN, or Passport, or Voter ID)</label>
                    <div data-ng-repeat="idProof in ro.userloandetails.idProofs" class="padding bottom-0x">
                      <input type="file" accept="image/*"  id="{{idProof.id}}" name="files[]" onchange="angular.element(this).scope().fileNameChangedIdProof(this)" class="hide" data-ng-model="ro.userloandetails.idProof[$index]"/>
                      <button type="button" class="btn btn-default" data-ng-click="ro.uploadCopy(idProof.id)">Upload ID Proof</button>
                      <span>{{ro.userloandetails.idProofs.fakeValue[$index]}}</span>
                    </div>
                    <div>
                      <a href="javascript:void(0)" data-ng-click="ro.addMoreItems(ro.userloandetails.idProofs, 'idProof')">Add more ID Proof</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Upload Address Proof (Aadhaar Card, or Passport)</label>
                    <div data-ng-repeat="idProof in ro.userloandetails.addressProofs" class="padding bottom-0x">
                      <input type="file" accept="image/*"  id="{{idProof.id}}" onchange="angular.element(this).scope().fileNameChangedAddressProof(event)" class="hide" data-ng-model="ro.userloandetails.addressProofs[$index]" name="addressProof"/>
                      <button type="button" class="btn btn-default" data-ng-click="ro.uploadCopy(idProof.id)">Upload Address Proof</button>
                      <span>{{ro.userloandetails.addressProofs[$index].fakeValue}}</span>
                    </div>
                    <div>
                      <a href="javascript:void(0)" data-ng-click="ro.addMoreItems(ro.userloandetails.addressProofs, 'addressProof')">Add more Address Proof</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Upload Photo</label>
                    <input type="file" accept="image/*" class="hide" data-ng-model="ro.userloaddetails.uploadPhoto"/>
                    <button type="button" class="btn btn-default" >Upload Photo</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Bank statement (last six months)</label>
                    <input type="file" class="hide" data-ng-model="ro.userloaddetails.bankStatement"/>
                    <button type="button" class="btn btn-default" >Bank Statement</button>
                  </div>
                </div>
              </div>
              <div class="form-group padding top-1x">
                <div class="row">
                  <div class="col-sm-3">
                      <button type="submit" class="btn btn-primary" data-ng-click="buttonUserLoanDetailsFormClicked = true">Continue</button>
                  </div>
                  <div class="col-sm-9 vertical-middle hide">
                    <a href="javascript:void(0)">Logout and continue later</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
