<div class="row table-row">
  <div class="col-sm-6 vertical-top hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li class="bold"><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
  <div class="col-xs-12">
    <div class="well well-ro">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label>Upload scan of signed form</label>
            <input type="file" class="hide" data-ng-model="ro.uploadSignedDoc.ScanCopyOfForm"/>
            <button class="btn btn-default" >Upload scan of signed form</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label>Upload scan copy of PDC</label>
            <input type="file" class="hide" data-ng-model="ro.uploadSignedDoc.pdc"/>
            <button class="btn btn-default" >Upload scan copy of PDC</button>
          </div>
        </div>
      </div>
      <div class="row padding top-2x">
        <div class="col-xs-12">
          <p>Please note the following carefully</p>
          <ol>
            <li>Documents (list in pt 2 below) in original should be received at the address mentioned in pt 3 within 4 days from the submission of the scan copy of the Loan Agreement above. If not received within 4 days, the Financial Institution retains the right to terminate the loan</li>
            <li>List of Documents
              <ol type="i">
                <li>ID Proof (scan copy of which was submitted earlier)</li>
                <li>Address Proof (scan copy of which was submitted earlier)</li>
                <li>Passport size photograph</li>
                <li>Bank Statement </li>
                <li>Signed Loan Agreement</li>
                <li>PDC submitted above</li>
              </ol>
            </li>
            <li>The documents need to be sent to following address
              <address>
                Ultimate Management and Financial Services Pvt Ltd<br/>
                c/o  Shree Agencies Pvt Ltd.<br/>
                233 Shopping centre<br/>
                Kota - 324 007
              </address>
            </li>
            <li>If the form is submitted prior to 12 PM the Financial Institution will disburse funds on same day on best effort basis. In case the funds cannot be disbursed on the same day, disbursal will take place by 1 working day after the submission of the Form above</li>
            <li>On repayment date if funds are not received by 12 PM, one day's interest would be levied on the outstanding amount</li>
          </ol>
        </div>
      </div>
      <div class="form-group padding top-1x bottom-4x">
        <div class="row table-row">
          <div class="col-sm-3 vertical-top">
              <a href="javascript:void(0)" class="btn btn-primary" ui-sref="thankyou">Finish</a>
          </div>
          <div class="col-sm-9 vertical-middle">
            <a href="javascript:void(0)" data-ng-click="ro.logout()">Logout and continue later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
