<div class="row table-row">
  <div class="col-sm-6 vertical-middle hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="bold"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
  <div class="col-xs-12">
    <div class="well well-ro">
      <form novalidate="true" data-ng-submit="ro.submitRoOrRmuForm(roorrmu.$valid)" name="roorrmu">
        <div class="form-group">
          <div class="radio">
            <label><input type="radio" name="userType" data-ng-model="ro.userType"/> I am a RMU</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="userType" data-ng-model="ro.userType"/> I am RO</label>
          </div>
        </div>
        <div class="form-group padding top-1x">
          <button type="submit" class="btn btn-primary" ui-sref="userbasicdetails">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
