<div class="row table-row">
  <div class="col-sm-6 vertical-top hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>Loan Renewal</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-ro">
            <form novalidate="true" data-ng-submit="ro.submitLoanRenewalForm(userloandetails.$valid)" name="userloandetails" data-ng-init="buttonUserLoanDetailsFormClicked = false;">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Loan Amount (in Rs.)</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                      <input type="text" class="form-control left" placeholder="Loan Amount (in Rs.)" required name="loanamt" data-ng-model="ro.userLoanDetails.loanAmt" data-ng-class="{'validation-error': userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Loan Amount">
                      <span class="input-group-addon exclamation hidden-xs" data-ng-show="userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                      <div class="error visible-xs" data-ng-show="userloandetails.loanamt.$error.required && (buttonUserLoanDetailsFormClicked || !userloandetails.loanamt.$pristine)">
                        <span>Please enter Loan Amount.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <label>Number in Days</label>
                    <select class="form-control" data-ng-model="ro.userLoanDetails.tenor" name="tenor" data-ng-init="ro.userLoanDetails.tenor = '0'" data-ng-class="{'validation-error': ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please select tenor">
                      <option value="0">Select days</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                    </select>
                    </select>
                  </div>
                  <div class="col-sm-1 hidden-xs padding top-2x">
                    <span class="exclamation error" data-ng-show="ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                  </div>
                  <div class="error visible-xs" data-ng-show="ro.userLoanDetails.tenor == '0' && buttonUserLoanDetailsFormClicked">
                    <span>Please select tenor.</span>
                  </div>
                </div>
              </div>
              <div class="row padding top-2x">
                <div class="col-xs-12">
                  <p>Following conditions apply</p>
                  <ol>
                    <li>If the form is submitted prior to 12 PM the Financial Institution will disburse funds on same day on best effort basis. In case the funds cannot be disbursed on the same day, disbursal will take place by 1 working day after the submission of the Form above.</li>
                    <li>On repayment date if funds are not received by 12 PM, one day's interest would be levied on the outstanding amount</li>
                    <li>This Loan Renewal Request is an electronic record in the form of an electronic contract formed under the Information Technology Act, 2000 and Rules made thereunder and the amended provisions pertaining to electronic documents/records in various statutes as amended by the Information Technology Act, 2000. This Loan Renewal Request does not require any physical, electronic or digital signature. I acknowledge and agree that I shall be deemed to have made this loan renewal request upon submitting this form</li>
                  </ol>
                </div>
              </div>
              <div class="row padding top-2x">
                <div class="col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label><input type="checkbox" name="scannedCopy"/>  I agree to the above terms and conditions</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group padding top-1x bottom-4x">
                <div class="row table-row">
                  <div class="col-sm-3 vertical-top">
                      <button type="submit" class="btn btn-primary">Continue with disbursal</button>
                  </div>
                  <div class="col-sm-9 vertical-middle">
                    <a href="javascript:void(0)" data-ng-click="ro.logout()">Logout and continue later</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="loanCheckModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="padding top-1x bottom-2x text-center">Sorry, you are eligible for upto Rs. {{ro.loanAmount}}</h4>
        <div class="row text-center">
          <div classs="form-group">
            <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">Change Amount</a>
          </div>
        </div>
        <div class="row padding top-0x">
          <div class="col-xs-12">
            <h3 class="text-center">OR</h3>
          </div>
        </div>
        <div class="row text-center padding top-0x bottom-2x">
          <div classs="form-group">
            <a href="javascript:void(0)" class="btn btn-primary" data-ng-click="ro.gotorormu()">Re-apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
