<div class="row table-row">
  <div class="col-sm-6 vertical-middle hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li class="bold"><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-ro">
            <form novalidate="true" data-ng-submit="ro.submitUserBasicDetailsForm(userbasicdetails.$valid)" name="userbasicdetails" data-ng-init="buttonUserBasicDetailsFormClicked = false;">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="First" name="firstname" required data-ng-model="ro.userBasicDetails.firstname" data-ng-class="{'validation-error': userbasicdetails.firstname.$error.required && (buttonUserBasicDetailsFormClicked || !userbasicdetails.firstname.$pristine)}"/>
                      <span class="input-group-addon exclamation" data-ng-show="userbasicdetails.firstname.$error.required && (buttonUserBasicDetailsFormClicked || !userbasicdetails.firstname.$pristine)"><i class="fa fa-exclamation-circle"></i></span>
                      <div class="error" data-ng-show="userbasicdetails.firstname.$error.required && (buttonUserBasicDetailsFormClicked || !userbasicdetails.firstname.$pristine)">
                        <span>Please enter first name.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Middle" name="middle" data-ng-model="ro.userBasicDetails.middle"/>
                  </div>
                </div>
                <div class="row padding top-0x">
                  <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Last" name="lastname" data-ng-model="ro.userBasicDetails.last"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>E-mail Address</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="E-mail Address" data-ng-pattern="ro.emailregex" data-ng-model="ro.userBasicDetails.email" name="email" required data-ng-class="{'validation-error': !userbasicdetails.email.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.email.$pristine)}"/>
                      <span class="input-group-addon exclamation" data-ng-show="!userbasicdetails.email.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.email.$pristine)"><i class="fa fa-exclamation-circle"></i></span>
                      <div class="error" data-ng-show="userbasicdetails.email.$error.required && (buttonUserBasicDetailsFormClicked || !userbasicdetails.email.$pristine)">
                        <span>Please enter email.</span>
                      </div>
                      <div class="error" data-ng-show="!userbasicdetails.email.$valid && !userbasicdetails.email.$error.required && (buttonUserBasicDetailsFormClicked || !userbasicdetails.email.$pristine)">
                        <span>Please enter valid email.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <label>Gender</label>
                    <select class="form-control" name="gender" required data-ng-model="ro.userBasicDetails.gender" data-ng-init="ro.userBasicDetails.gender = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.gender == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">I am ...</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Trans</option>
                      <option>Do not wish to specify</option>
                    </select>
                    <div class="error" data-ng-show="ro.userBasicDetails.gender == '0' && buttonUserBasicDetailsFormClicked">
                      <span>Please select gender.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Education</label>
                    <select class="form-control" required data-ng-model="ro.userBasicDetails.education" data-ng-init="ro.userBasicDetails.education = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.education == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">I am ...</option>
                      <option>High school pass out</option>
                      <option>Graduate</option>
                      <option>Post graduate</option>
                    </select>
                    <div class="error" data-ng-show="ro.userBasicDetails.education == '0' && buttonUserBasicDetailsFormClicked">
                      <span>Please select education.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Date of Birth</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.dobDay" data-ng-init="ro.userBasicDetails.dobDay = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.dobDay == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">Day</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="col-xs-4">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.dobMonth" data-ng-init="ro.userBasicDetails.dobMonth = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.dobMonth == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">Month</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="col-xs-4">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.dobYear" data-ng-init="ro.userBasicDetails.dobYear = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.dobYear == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">Year</option>
                      <option>1989</option>
                      <option>1990</option>
                    </select>
                  </div>
                </div>
                <div class="error" data-ng-show="(ro.userBasicDetails.dobYear == '0' || ro.userBasicDetails.dobMonth == '0' || ro.userBasicDetails.dobDay == '0') && buttonUserBasicDetailsFormClicked">
                  <span>Please select correct date.</span>
                </div>
              </div>
              <div class="form-group" data-ng-show="!ro.userBasicDetails.noPanCard" data-ng-init="ro.userBasicDetails.noPanCard = false;">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <label>PAN No.</label>
                    <input type="text" class="form-control" placeholder="PAN No." name="panno" data-ng-required="!ro.userBasicDetails.noPanCard" data-ng-model="ro.userBasicDetails.panNo" data-ng-class="{'validation-error': !userbasicdetails.panno.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.panno.$pristine)}"/>
                  </div>
                  <div class="col-xs-12 col-sm-6 padding top-0x">
                    <label>&nbsp;</label>
                    <a href="javascript:void(0)" data-ng-click="ro.userBasicDetails.noPanCard = true">I dont't have PAN No.</a>
                  </div>
                </div>
                <div class="error" data-ng-show="!userbasicdetails.panno.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.panno.$pristine)">
                  <span>Please enter pan no.</span>
                </div>
              </div>
              <div class="form-group" data-ng-show="ro.userBasicDetails.noPanCard">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Govt ID Type</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.govtID" name="govtID" data-ng-init="ro.userBasicDetails.govtID = '0'" data-ng-class="{'validation-error': ro.userBasicDetails.govtID == '0' && buttonUserBasicDetailsFormClicked}">
                      <option value="0">I have ...</option>
                      <option value="Aadhar Card">Aadhar Card</option>
                      <option value="Driver License">Driver's License</option>
                      <option value="Passport">Passport</option>
                      <option value="Voter ID">Voter ID</option>
                    </select>
                    <div class="error" data-ng-show="ro.userBasicDetails.govtID == '0' && buttonUserBasicDetailsFormClicked">
                      <span>Please choose govt ID type</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-show="ro.userBasicDetails.govtID == 'Aadhar Card'">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Aadhar Card</label>
                    <input type="text" class="form-control" placeholder="Aadhar Card" name="aadharcard" data-ng-model="ro.userBasicDetails.aadharCard" data-ng-class="{'validation-error': !userbasicdetails.aadharcard.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.aadharcard.$pristine)}" />
                    <div class="error" data-ng-show="!userbasicdetails.aadharcard.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.aadharcard.$pristine)">
                      <span>Please enter aadhard card.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" data-ng-show="ro.userBasicDetails.govtID == 'Voter ID'">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Voter ID</label>
                    <input type="text" class="form-control" placeholder="Voter ID" name="voterID"  data-ng-model="ro.userBasicDetails.voterId" data-ng-class="{'validation-error': !userbasicdetails.voterID.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.voterID.$pristine)}"/>
                    <div class="error" data-ng-show="!userbasicdetails.voterID.$valid && (buttonUserBasicDetailsFormClicked || !userbasicdetails.voterID.$pristine)">
                      <span>Please enter voter ID.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-show="ro.userBasicDetails.govtID == 'Driver License'">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Driver License</label>
                    <input type="text" class="form-control" placeholder="Driver License"  data-ng-model="ro.userBasicDetails.driverLicense"/>
                  </div>
                </div>
                <div class="row padding top-0x">
                  <div class="col-xs-12">
                    <label>Expiry Date</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.dl.month" data-ng-init="ro.userBasicDetails.dl.month = '0'">
                      <option value="0">Month</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.dl.year" data-ng-init="ro.userBasicDetails.dl.year = '0'">
                      <option value="0">Year</option>
                      <option>2016</option>
                      <option>2017</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-show="ro.userBasicDetails.govtID == 'Passport'">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Passport</label>
                    <input type="text" class="form-control" placeholder="Passport" data-ng-model="ro.userBasicDetails.passsport"/>
                  </div>
                </div>
                <div class="row padding top-0x">
                  <div class="col-xs-12">
                    <label>Expiry Date</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <select class="form-control"  data-ng-model="ro.userBasicDetails.passsport.month" data-ng-init="ro.userBasicDetails.passsport.month = '0'">
                      <option value="0">Month</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <select class="form-control" data-ng-model="ro.userBasicDetails.passsport.year" data-ng-init="ro.userBasicDetails.passsport.year = '0'">
                      <option value="0">Year</option>
                      <option>2016</option>
                      <option>2017</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group padding top-1x">
                <button type="submit" class="btn btn-primary" data-ng-click="buttonUserBasicDetailsFormClicked = true">Continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
