
.btn{
	&.btn-default{
		color:#fff;
		background-color:#9E9E9E;
		&:focus, &:active, &:hover{
			color:#fff;
			background-color:#9E9E9E;
		}
	}
	&.btn-primary{
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white;
    font-weight: 600;
    font-size: 1.1em;
    min-height: 42px;
    padding: 9px 20px;
	}
}
