.form-group{
	label{
		font-weight:$form-label-weight;
		&.size-2x{
			font-size:1.3em
		}
	}

  input,
  textarea{
    &.form-control{
      min-height: 42px;
      padding: 9px 12px 9px 12px;
      border: 2px solid #e0e0e0;
      box-shadow: none;
      color: #494949;
      font-size: 1.1em;
      line-height: 20px;
      &:focus{
        border-color: #3F79BD;
    	}
    }
  }
}
