ul{
  &.progressBar{
    list-style-type: none;
    >li{
      margin-bottom: 10px;
      width: 100%;
      display: inline-block;
      span{
        display: block;
        float: left;
        &.fa{
          display: none;
          padding: 0 10px 0 0;
          font-size: 2.5em;
        }
        &:last-child{
          padding-left: 42px;
        }
      }

      &.active{
        color: rgb(98, 156, 68);
        font-weight: 600;
        margin-bottom: 3px;
        span{
          &.fa{
            vertical-align: middle;
            display: inline-block;
          }
          &:last-child{
            padding-top: 9px;
            padding-left: 0;
          }
        }
      }
      &.bold{
        color: $black;
        font-weight: 700;
      }
    }
  }
}
ol{
  li{
    margin-bottom: 15px;
    >ol{
      li{
        margin-bottom: 5px;
      }
    }
  }
}
