<div class="row">
	<div class="col-xs-7">
		<div class="form-group">
			<select class="btn btn-default multiSelectOption" multiple="multiple">
				<option value="0">Alle vestigingen</option>
				<option data-ng-repeat="office in olympia.officesData | orderBy: 'officeName'" value="{{office.officeId}}">{{office.officeId}} - {{office.officeName}}</option>
			</select>
		</div>
		<!-- <h2> Alle vestigingen</h2> -->
	</div>
	<div class="col-xs-5 text-right">
		<span class="push right--1x">Laatste update <span data-ng-bind="olympia.dashboard.lastUpdatedDate"></span></span>
		<input id="pickerToUpdate1" name="pickerToUpdate1" class="calenderRange">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Contact na sollicitatie</h3>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<div class="piechartEqualizer">
					<table class="table table-striped table-reports table-striped space-bottom-2x" >
						<thead>
							<tr>
								<th class=" align-center font-size-normal"><div>Kandidaten met CCE-rapportage<span class="info popoverData" data-content="Aantal kandidaten met CCE rapportin FMS" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Gecontacteerd<span class="info popoverData" data-content="Aantal kandidaten met CCE rapport dat een afgeronde actie CCEBE of CCEMA heeft" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Niet gecontacteered<span class="info popoverData" data-content="Aantal kandidaten met CCE rapportdat geen afgeronde actie CCEBE of CCEMA heeft" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="white" data-ng-bind="olympia.dashboard.kandidatenCcerapportageNumber"></td>
								<td data-ng-bind="olympia.dashboard.gecontacteerdNumber"></td>
								<td data-ng-bind="olympia.dashboard.nietGecontacteeredNumber"></td>
							</tr>
							<tr>
								<td class="white">100%</td>
								<td data-ng-bind="olympia.dashboard.gecontacteerdPercent + '%'"></td>
								<td data-ng-bind="olympia.dashboard.nietGecontacteeredPercent  + '%'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="piechartEqualizer">
					<table class="table table-striped table-reports table-striped" >
						<thead>
							<tr>
								<th class=" align-center font-size-normal"><div>Contactvorm</div></th>
								<th ><div>Binnen 1 werkdag<span class="info popoverData" data-content="Aantal kandidaten met CCE rapport dat binnen 1 werkdag na het afronden van de CCE gebeld of gemaild is(afgeronde CCEBE of CCEMA actie met een einddatum binnen 1 werkdag na de CCE afronddatum)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Binnen 2 werkdagen<span class="info popoverData" data-content="Aantal kandidaten met CCE rapport dat binnen 2 werkdagen na het afronden van de CCE gebeld of gemaild is(afgeronde CCEBE of CCEMA actie met een einddatum binnen 2 werkdagen na de CCE afronddatum)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Langer dan 2 werkdagen<span class="info popoverData" data-content="Aantal kandidaten met CCE rapport dat ná 2 werkdagen na het afronden van de CCE gebeld of gemaild is(afgeronde CCEBE of CCEMAactie met een einddatum ná 2 werkdag na de CCE afronddatum)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="white">Gebeld én gesproken</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagGesproken"></td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagGesproken"></td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagGesproken"></td>
							</tr>
							<tr>
								<td class="white">Gemaild / Voicemail ingesproken</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagVoiceMail"></td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagVoiceMail"></td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagVoiceMail"></td>
							</tr>
							<tr>
								<td class="white">&nbsp;</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagPercent + '% (' + olympia.dashboard.eenWerkdagNumber + ')'"></td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagPercent + '% (' + olympia.dashboard.tweeWerkdagNumber + ')'"></td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagPercent + '% (' + olympia.dashboard.langerWerkdagNumber + ')'"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->
				<div id="piechart" style="height:200px"></div>
				<div id="piechart1" style="height:200px"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Passende (overall matchingscore) kandidaten op OCC pool-/selectiegesprek</h3>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Passende kandidaten<span class="info popoverData" data-content="Aantal kandidaten met een Overall Matchingscore tussen de 40-75" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Pool-/intakegesprek plaatsgevonden<span class="info popoverData" data-content="Aantal passende kandidaten waar een intakegesprek mee heeft plaatsgevonden(afgeronde GESPR actie met een einddatum die groter is dan de afrond datum van de CCE)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Geen verdere opvolging<span class="info popoverData" data-content="Aantal passende kandidaten waar GEEN intakegesprek mee heeft plaatsgevonden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.passendeKandidatenNumber + '(' + olympia.dashboard.passendeKandidatenCombinedPercent + '%)'">120</td>
							<td data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenNumber">120</td>
							<td data-ng-bind="olympia.dashboard.verdereOpvolgingNumber">120</td>
						</tr>
						<tr>
							<td class="white">100%</td>
							<td data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenPercent + '%'">20%</td>
							<td data-ng-bind="olympia.dashboard.verdereOpvolgingPercent + '%'">20%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->
				<div id="piechart2"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row" data-ng-class="{'grayedOut' : !olympia.isKandidaten}">
	<div class="col-xs-12">
		<h3>Kandidaten voorstellen bij klant
		</h3>
		<div class="row">
			<div class="col-xs-8 space-bottom--1x helper">
				Deze data wordt geladen mits geselecteerde periode minimaal 3 maanden is en de totaal geselecteerde periode minimaal 1 maand oud is vanaf laatste dataupdate. Let op! Pool-/intakegesprekken die plaatsvinden > 30 dagen nadat kandidaten met CCE hebben gesolliciteerd én/of waar vervolgactiviteiten die plaatsvinden > 3 maanden nadat het pool-/intakegesprek heeft plaatsgevonden worden niet meegenomen in deze funnel.
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Kandidaten Pool-/intakegesprek plaatsgevonden<span class="info popoverData" data-content="Aantal passende kandidaten waar een intakegesprek mee heeft plaatsgevonden(afgeronde GESPR actie met een einddatum die groter is dan de afrond datum van de CCE)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten voorgesteld bij klant<span class="info popoverData" data-content="Aantal kandidaten die bij de klant zijn voorgesteld op een vacature(afgeronde VRSTE actie)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken ingepland bij klant<span class="info popoverData" data-content="Aantal kandidaten voor wie een sollicitatiegesprek is ingepland bij de klant(niet afgeronde SOLLI actie)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken plaatsgevonden bij klant<span class="info popoverData" data-content="Aantal kandidaten die een sollicitatiegesprek hebben gehad bij de klant(afgeronde SOLLI actie)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten geplaatst<span class="info popoverData" data-content="Aantal kandidaten waarbij een plaatsing is aangemaakt in FMS" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten niet geplaatst</div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenVoorgesteldklantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenIngeplandKlantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenGeplaatstNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenNietGeplaatstNumber">120</td>
						</tr>
						<tr>
							<td class="white">100%</td>
							<td data-ng-bind="olympia.dashboard.kandidatenVoorgesteldklantPercent + '%'"></td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenIngeplandKlantPercent + '%' + '(' + olympia.dashboard.sollicitatiegesprekkenIngeplandKlantCombinedPercent + '%)'"></td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantPercent + '%' + '(' + olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantCombinedPercent + '%)'"></td>
							<td data-ng-bind="olympia.dashboard.kandidatenGeplaatstPercent + '%' + '(' + olympia.dashboard.kandidatenGeplaatstCombinedPercent + '%)'"></td>
							<td data-ng-bind="olympia.dashboard.kandidatenNietGeplaatstPercent + '%' + '(' + olympia.dashboard.kandidatenNietGeplaatstCombinedPercent + '%)'"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-2">
				<!-- <h5>Gesproken kandidaten geplaatst</h5> -->
				<!-- Graph -->
				<div id="piechart3"></div>
			</div>
			<div class="col-xs-2">
				 <!-- <h5>Voorgestelde kandidaten geplaatst</h4> -->
				<!-- Graph -->
				<div id="piechart7"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row"  data-ng-class="{'grayedOut' : !olympia.isKandidaten}">
	<div class="col-xs-12">
		<h3>Geplaatste OCC kandidaten</h3>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Uitzendplaatsingen aangemaakt<span class="info popoverData" data-content="Aantal kandidaten waarvoor een uitzendplaatsing is aangemaakt(plaatsingstype Normaal)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th class=" align-center font-size-normal"><div>W&S plaatsingen aangemaakt<span class="info popoverData" data-content="Aantal kandidaten waarvoor een W&S plaatsing is aangemaakt(plaatsingstype Werving en selectie)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Totaal aantal plaatsingen aangemaakt<span class="info popoverData" data-content="Totaal aantal kandidaten waarvoor een plaatsing is aangemaakt(plaatsingstype Normaal én Werving en selectie)" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Uitzendplaatsingen met urenbriefje<span class="info popoverData" data-content="Aantal kandidaten met een uitzendplaatsing(plaatsingstype Normaal) waar een urenbriefje is ingeboekt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>

							<th ><div>W&S plaatsingen gefactureerd<span class="info popoverData" data-content="Aantal kandidaten met een W&S plaatsing(plaatsingstype Werving en selectie) waar een factuur is ingeboekt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Totaal aantal plaatsingen plaatsgevonden</div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.uitzendPlaatsingenAangemaaktNumber"></td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenAangemaaktNumber"></td>
							<td data-ng-bind="olympia.dashboard.totaalAantalPlaatsingenAangemaakt"></td>
							<td data-ng-bind="olympia.dashboard.uitzendplaatsingenMetUrenbriefjeNumber"></td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenGefactureerdNumber"></td>
							<td data-ng-bind="olympia.dashboard.totaalAantalPlaatsingenPlaatsgevonden"></td>
						</tr>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.uitzendPlaatsingenAangemaaktPercent"></td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenAangemaaktPercent"></td>
							<td>100%</td>
							<td data-ng-bind="olympia.dashboard.uitzendplaatsingenMetUrenbriefjePercent"></td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenGefactureerdPercent"></td>
							<td>100%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->
				<div id="stackedChart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row hidden-print">
	<div class="col-xs-12 text-left">
		<button type="submit" class="btn btn-default" data-ng-click="olympia.printPage()">Print</button>
	</div>
</div>
