<div class="row table-row">
  <div class="col-sm-6 vertical-middle hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li class="bold"><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
  <div class="col-xs-12">
    <div class="well well-ro">
      <form data-ng-submit="ro.submitUserAddressDetails(userAddressDetails.$valid)" novalidate="true" name="userAddressDetails" data-ng-init="buttonUserAddressDetailsFormClicked = false;">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Company Name</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Company name" name="companyname" required data-ng-model="ro.userAddressDetails.companyname" data-ng-class="{'validation-error': userAddressDetails.companyname.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.companyname.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Company Name"/>
                <span class="input-group-addon exclamation hidden-xs" data-ng-show="userAddressDetails.companyname.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.companyname.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                <div class="error visible-xs" data-ng-show="userAddressDetails.companyname.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.companyname.$pristine)">
                  <span>Please enter Company Name.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Address</label>
              <div class="input-group">
                <textarea class="form-control" placeholder="Address" name="address" required data-ng-model="ro.userAddressDetails.address" data-ng-class="{'validation-error': userAddressDetails.address.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.address.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Address" rows="4"></textarea>
                <span class="input-group-addon exclamation hidden-xs" data-ng-show="userAddressDetails.address.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.address.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                <div class="error visible-xs" data-ng-show="userAddressDetails.address.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.address.$pristine)">
                  <span>Please enter Address.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>City</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="City" name="city" required data-ng-model="ro.userAddressDetails.city" data-ng-class="{'validation-error': userAddressDetails.city.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.city.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter City" />
                <span class="input-group-addon exclamation hidden-xs" data-ng-show="userAddressDetails.city.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.city.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                <div class="error visible-xs" data-ng-show="userAddressDetails.city.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.city.$pristine)">
                  <span>Please enter City.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Pin code</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Pin Code" name="pincode" required data-ng-model="ro.userAddressDetails.pincode" data-ng-class="{'validation-error': userAddressDetails.pincode.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.pincode.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Pin Code" />
                <span class="input-group-addon exclamation hidden-xs" data-ng-show="userAddressDetails.pincode.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.pincode.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                <div class="error visible-xs" data-ng-show="userAddressDetails.pincode.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.pincode.$pristine)">
                  <span>Please enter Pin Code.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Business PAN No</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Business PAN No" name="businesspan" required data-ng-model="ro.userAddressDetails.businesspan" data-ng-class="{'validation-error': userAddressDetails.businesspan.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.businesspan.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="Please enter Business PAN No" />
                <span class="input-group-addon exclamation hidden-xs" data-ng-show="userAddressDetails.businesspan.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.businesspan.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                <div class="error visible-xs" data-ng-show="userAddressDetails.businesspan.$error.required && (buttonUserAddressDetailsFormClicked || !userAddressDetails.businesspan.$pristine)">
                  <span>Please enter Business PAN No.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Date of Incorporation</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4">
              <select class="form-control">
                <option value="0">Day</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <div class="col-xs-4 col-sm-4">
              <select class="form-control">
                <option value="0">Month</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <div class="col-xs-4 col-sm-4">
              <select class="form-control">
                <option value="0">Year</option>
                <option>1989</option>
                <option>1990</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group padding top-1x">
          <button type="submit" class="btn btn-primary" data-ng-click="buttonUserAddressDetailsFormClicked = true">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
