<div class="row table-row">
  <div class="col-sm-6 col-sm-3 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-ro">
            <form novalidate="true" name="mdnidForm" ng-submit="ro.submitMdnidForm(mdnidForm.$valid)">
              <div>
                <span>{{ro.errorText}}</span>
              </div>
              <div class="form-group"  data-ng-init="buttonMdnidFormClicked = false">
                <label>MDN ID</label>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="MDN ID" data-ng-model="ro.mdnid" data-ng-pattern="ro.mdnidregex" name="mdnid" required data-ng-class="{'validation-error': !mdnidForm.mdnid.$valid && (buttonMdnidFormClicked || !mdnidForm.mdnid.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="{{mdnidForm.phoneNumber.$error.required ? 'Please enter MDNID': 'Enter correct MDNID'}}" />
                      <span class="input-group-addon exclamation hidden-xs" data-ng-show="!mdnidForm.mdnid.$valid && (buttonMdnidFormClicked || !mdnidForm.mdnid.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                      <div class="error visible-xs" data-ng-show="mdnidForm.mdnid.$error.required && (buttonMdnidFormClicked || !mdnidForm.mdnid.$pristine)">
                        <span>Please enter MDNID.</span>
                      </div>
                      <div class="error visible-xs" data-ng-show="!mdnidForm.mdnid.$error.required && !mdnidForm.mdnid.$valid && (buttonMdnidFormClicked || !mdnidForm.mdnid.$pristine)">
                        <span>Enter correct MDNID.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label>Phone Number</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group">
                      <span class="input-group-addon">+91</span>
                      <input type="text" class="form-control left" name="phoneNumber" placeholder="Phone Number" data-ng-model="ro.phoneNumber" ng-pattern="ro.phoneNumberRegex" required data-ng-class="{'validation-error': !mdnidForm.phoneNumber.$valid && (buttonMdnidFormClicked || !mdnidForm.phoneNumber.$pristine)}" data-container="body" data-toggle="popover" data-placement="left" data-content="{{mdnidForm.phoneNumber.$error.required ? 'Please enter Phone Number': 'Enter correct Phone Number'}}" />
                      <span class="input-group-addon exclamation hidden-xs" data-ng-show="!mdnidForm.phoneNumber.$valid && (buttonMdnidFormClicked || !mdnidForm.phoneNumber.$pristine)"><i class="fa fa-exclamation-circle" popover-trig></i></span>
                    </div>
                  </div>
                </div>
                <div class="error visible-xs" data-ng-show="mdnidForm.phoneNumber.$error.required && (buttonMdnidFormClicked || !mdnidForm.phoneNumber.$pristine)">
                  <span>Please enter Phone Number.</span>
                </div>
                <div class="error visible-xs" data-ng-show="!mdnidForm.phoneNumber.$error.required && !mdnidForm.phoneNumber.$valid  && (buttonMdnidFormClicked || !mdnidForm.phoneNumber.$pristine)">
                  <span>Enter correct Phone Number</span>
                </div>
              </div>
              <div class="form-group padding top-1x">
                <button type="submit" class="btn btn-primary" data-ng-click="buttonMdnidFormClicked = true">Continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
