<div class="row table-row">
  <div class="col-sm-6 vertical-middle hidden-xs">
    <ul class="progressBar" progress-state>
      <li class="active"><span class="fa fa-check-circle"></span><span>RO / RMU Details</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Promoter / Proprietor Information</span></li>
      <li class="active"><span class="fa fa-check-circle"></span><span>Business Details</span></li>
      <li class="bold"><span class="fa fa-check-circle"></span><span>Loan section</span></li>
      <li><span class="fa fa-check-circle"></span><span>Download Forms</span></li>
      <li><span class="fa fa-check-circle"></span><span>Upload Signed Form</span></li>
    </ul>
  </div>
  <div class="col-sm-6 vertical-top col-xs-12">
    <div class="widget widget-left">
      <div class="row">
  <div class="col-xs-12">
    <div class="well well-ro">
      <form novalidate="true" data-ng-submit="ro.submitUserLoanDetailsForm(userLoanDetails.$valid)" name="userLoanDetails">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Loan Amount (in Rs.)</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Loan Amount (in Rs.)" data-ng-model="ro.userLoanDetails.loanAmt">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <label>Tenor in Days</label>
              <select class="form-control" data-ng-model="ro.userLoanDetails.tenor">
                <option value="0">Select days</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Upload ID Proof (PAN, or Passport, or Voter ID)</label>
              <input type="file" id="idProof" class="hide" data-ng-model="ro.userloandetails.idProof"/>
              <button class="btn btn-default" >Upload ID Proof</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Upload Address Proof (Aadhaar Card, or Passport)</label>
              <input type="file" class="hide" data-ng-model="ro.userloaddetails.addressProof"/>
              <button class="btn btn-default" >Upload Address Proof</button> {{ro.userloaddetails.addressProof}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Upload Photo</label>
              <input type="file" class="hide" data-ng-model="ro.userloaddetails.uploadPhoto"/>
              <button class="btn btn-default" >Upload Photo</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Bank statement (last six months)</label>
              <input type="file" class="hide" data-ng-model="ro.userloaddetails.bankStatement"/>
              <button class="btn btn-default" >Bank Statement</button>
            </div>
          </div>
        </div>
        <div class="form-group padding top-1x">
          <a type="submit" class="btn btn-primary" href="javascript:void(0)" ui-sref="userdownloadform">Continue</a>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
